In [16]:
import numpy as np

import scipy

import pandas as pd 

from sklearn.linear_model import LinearRegression

import warnings 
 
warnings.filterwarnings('ignore')

In [17]:
height = pd.read_csv('DATASET_NB_ROOT/NB_6545021/height_train.csv')

height.head(5)

   id  father_height  mother_height  boy_dummy  child_height
0   0           1.76           1.60          0          1.66
1   1           1.71           1.63          1          1.76
2   2           1.70           1.66          0          1.67
3   3           1.68           1.61          1          1.75
4   4           1.72           1.70          1          1.76

In [3]:
model = LinearRegression()

model.fit(X=height.loc[:,['father_height','mother_height']],y=height.child_height)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [4]:
print (model.coef_)
print ()
print (model.intercept_)

[0.25348084 0.26781882]

0.8255674529397554

含义，在其他条件不变的情况下，父亲每升高1m，孩子升高0.25m 同理，母亲每升高1m，孩子升高0.26m

In [22]:
height.index

RangeIndex(start=0, stop=5000, step=1)

没有考虑性别因素，加入性别

In [5]:
model.fit(X=height.loc[:,['father_height','mother_height','boy_dummy']],y=height.child_height)
print (model.coef_)
print ()
print (model.intercept_)

[0.23959427 0.25013358 0.10030806]

0.8274299645517075

In [29]:
test  = pd.read_csv('DATASET_NB_ROOT/NB_6545021/height_test.csv')

test.head(10)

     id  father_height  mother_height  boy_dummy
0  5000           1.71           1.66          0
1  5001           1.69           1.63          1
2  5002           1.71           1.56          1
3  5003           1.68           1.67          1
4  5004           1.71           1.60          0
5  5005           1.88           1.59          1
6  5006           1.72           1.62          0
7  5007           1.71           1.64          1
8  5008           1.73           1.69          1
9  5009           1.77           1.61          0

In [36]:
test['prediction1'] = 0.23959427*test.father_height+0.25013358*test.mother_height+0.10030806*test.boy_dummy+0.8274299645517075

test['prediction2'] = model.predict(test.loc[:,['father_height','mother_height','boy_dummy']])

test.head(10)

,id,father_height,mother_height,boy_dummy,prediction,prediction1,prediction2
0,5000,1.71,1.66,0,1.652358,1.652358,1.652358
1,5001,1.69,1.63,1,1.740370,1.740370,1.740370
2,5002,1.71,1.56,1,1.727653,1.727653,1.727653
3,5003,1.68,1.67,1,1.747979,1.747979,1.747979
4,5004,1.71,1.60,0,1.637350,1.637350,1.637350
5,5005,1.88,1.59,1,1.775888,1.775888,1.775888
6,5006,1.72,1.62,0,1.644749,1.644749,1.644749
7,5007,1.71,1.64,1,1.747663,1.747663,1.747663
8,5008,1.73,1.69,1,1.764962,1.764962,1.764962
9,5009,1.77,1.61,0,1.654227,1.654227,1.654227

In [18]:
boyheight = height.loc[(height.boy_dummy == 1)]

girlheight = height.loc[(height.boy_dummy == 0)]

boymodel = LinearRegression()

boymodel.fit(X=boyheight.loc[:,['father_height','mother_height']],y=boyheight.child_height)

girlmodel = LinearRegression()

girlmodel.fit(X=girlheight.loc[:,['father_height','mother_height']],y=girlheight.child_height)


test = pd.read_csv('DATASET_NB_ROOT/NB_6545021/height_test.csv')

boytest = test.loc[(test.boy_dummy == 1)]

girltest =  test.loc[(test.boy_dummy == 0)]

boytest.loc[:,'prediction'] = boymodel.predict(boytest.loc[:,['father_height','mother_height']])

girltest.loc[:,'prediction'] = girlmodel.predict(girltest.loc[:,['father_height','mother_height']])

boytest.head(5)

     id  father_height  mother_height  boy_dummy  prediction
1  5001           1.69           1.63          1    1.737969
2  5002           1.71           1.56          1    1.729967
3  5003           1.68           1.67          1    1.742959
5  5005           1.88           1.59          1    1.785560
7  5007           1.71           1.64          1    1.745789

In [20]:
girltest.head(5)

alldata = pd.concat([boytest,girltest])

alldata.head(5)

alldata.to_csv("./yuanwuzhou.csv",index=False)